*{
    margin: 0;
    padding: 0;
    font: 100%;
}
nav{
    background-color: rgb(28, 204, 107);
    font: optional;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: flex-start;
}
a{
    padding: 2%;
}

a:hover{
    background-color: red;
}
a:visited{
    color: blueviolet;
}
a:active{
    color: aqua;
}
div:not(.pai){
    font-size: large;
    background-color: rgb(174, 25, 211);
}
.pai div:last-child{
    font-weight:bold;
}