.grid{
    display:grid;
    grid-template-columns: repeat(5 20%) ;/* 5 coluna e 3 linhas*/
    grid-template-rows:  100px 100px 100px;
    grid-template-areas:"nav nav header header header" 
    "nav nav section section article"
    "nav nav section section footer"
}
.border{
    border: 1px solid black
}
header{
    grid-area: header;
    background-color: aqua;
}
nav{
    grid-area:nav;
    background-color: firebrick;
}
section{
    grid-area:section;
    background-color: rgb(209, 133, 32)
}
article{
    grid-area:article;
    background-color: blueviolet;
}
footer{
    grid-area:footer;
    background-color: rgb(29, 124, 202)
}
@media screen {
    
}